* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #b28756;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}





.banner {

    height: calc(100vh - 100px);
    background-color: #444;
    background-image: url('https://media.istockphoto.com/id/820815076/pt/foto/empty-wooden-and-blurred-nature-background.jpg?s=612x612&w=0&k=20&c=QsvkturOgt5zYb3iLgpR0sO6eOH216FWfyjqsV699uE=');
    background-size: cover;
    background-position:  center bottom ;
    overflow: hidden;
}

.banner .cover {
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
    display: inline-block;
}

.banner .text-area {
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.text-area h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}

.text-area h1 span {
    color: var(--primary-color);
    margin-bottom: 20px;
}






.section-aboutUs {
    display: flex;
}

.section-aboutUs-left {
    flex: 1;
}

.section-aboutUs-left p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 15px;
}

.section-aboutUs-right {
    width: 500px;
    background-color: #333;
}

.section-aboutUs-right img {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 10px #333;
}

.section-services {
    display: flex;
    justify-content: space-around;
}

.section-services .service  {
    border-left: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    height: 200px;

}

.section-services .service img  {
   width: 50px;
   margin-bottom: 25px;
}
.section-services .service h4 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.section-services .service p {
    font-size: 12px;
    color: #666;
}

.section-services .service h4, .section-services .service p {
    text-align: center;
}

.section-services .service:last-child {
    border-right: 3px solid #ddd;
}


.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.section-projects-filters {
    border:1px solid #999;
    background-color: #ccc;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
}

.section-projects-filters ul,
.section-projects-filters li {
    list-style: none;
}

.section-projects-filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-right: 1px solid #999;
    cursor: pointer;
    border-bottom: 3px solid #ccc;
}

.section-projects-filters li:last-child {
    border-right: none;
}

.section-projects-filters li:hover,
.section-projects-filters li.active {
    color: #777;
    border-bottom-color: var(--primary-color);
}


.section-projects-photos {
    width: 100vw;
    max-width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects-photo {
    width: 280px;
}

.section-projects-photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects-photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects-photoinfo {
    position: absolute;
    background-color: rgb(0, 0, 0,0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.section-projects-photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects-photoarea:hover .section-projects-photoinfo {
    display: flex;
}